body{
  margin:0px;
  padding:8px;
}
:root {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000000;
  
}
a{
    color:orange;
    text-decoration: none;
    font-weight:600;
}