nav{
    background: rgb(15, 16, 26);
    margin: -8px -8px 40px -8px;
}
nav > ul{
    padding:0px;
    margin:0px;
    list-style-type: none;
    display:flex;
    justify-content: space-evenly;
}
nav > ul > li{
    padding-block:8px;
}
.logo{
    font-size: 1.6rem;
    letter-spacing: 0.07em;
    font-family: 'freestyle script', cursive;
    padding-block:5px;
}